<div class="container">
  <div class="container">
    <div fxLayout="column" fxLayoutGap="150px" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="start center">
        <h2>WELCOME TO SWAGZCHAT</h2>
<!--        <h4>THIS WEB SITE IS DEVELOPING FOR FILL FULL THE NEED OF JIROT JOE</h4>-->
        <h5>DEVELOPING FOR PRACTICE WITH ANGULAR 8 AND FIREBASE FUNCTION</h5>
        <h6>MORE DETAIL AT LINK</h6>
        <a *ngIf="isCanActivate" mat-stroked-button routerLink="/chat">CHAT PAGE</a>
<!--        <a mat-stroked-button routerLink="/tokbox">tok box</a>-->
      </div>
      <mat-icon class="icon" aria-hidden="false" aria-label="icon chat">face</mat-icon>
    </div>
  </div>
</div>
